<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppGameBMS.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppGameBMS.Settings1>
            <setting name="LineCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Auto1PKey1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto1PKey2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto1PKey3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto1PKey4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto1PKey5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto1PKey6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto1PKey7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto1PKeySC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto2PKey1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto2PKey2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto2PKey3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto2PKey4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto2PKey5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto2PKey6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto2PKey7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto2PKeySC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hit1PKey1" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="Hit1PKey2" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="Hit1PKey3" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="Hit1PKey4" serializeAs="String">
                <value>Oemcomma</value>
            </setting>
            <setting name="Hit1PKey5" serializeAs="String">
                <value>OemPeriod</value>
            </setting>
            <setting name="Hit1PKey6" serializeAs="String">
                <value>OemQuestion</value>
            </setting>
            <setting name="Hit1PKey7" serializeAs="String">
                <value>RShiftKey</value>
            </setting>
            <setting name="Hit1PKeySC" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="Hit2PKey1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hit2PKey2" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hit2PKey3" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hit2PKey4" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hit2PKey5" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hit2PKey6" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hit2PKey7" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hit2PKeySC" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="GameSpeed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VolumeBGM" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VolumeKEY" serializeAs="String">
                <value>100</value>
            </setting>
        </AppGameBMS.Settings1>
    </userSettings>
</configuration>
