<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CellGameEdit.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CellGameEdit.PM.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CellGameEdit.PM.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CellGameEdit.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CellGameEdit.Config>
            <setting name="IsOutEncodingInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphicsFont" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
        </CellGameEdit.Config>
        <CellGameEdit.PM.Config>
            <setting name="MapSrcSelectBackColorL" serializeAs="String">
                <value>128, 255, 255, 255</value>
            </setting>
            <setting name="MapSrcSelectBorderColorL" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MapSrcSelectBackColorR" serializeAs="String">
                <value />
            </setting>
            <setting name="MapSrcSelectBorderColorR" serializeAs="String">
                <value />
            </setting>
        </CellGameEdit.PM.Config>
        <CellGameEdit.PM.Settings>
            <setting name="MapSrcSelectBackColorL" serializeAs="String">
                <value>128, 255, 255, 255</value>
            </setting>
            <setting name="MapSrcSelectBorderColorL" serializeAs="String">
                <value>White</value>
            </setting>
        </CellGameEdit.PM.Settings>
        <CellGameEdit.Settings1>
            <setting name="Setting" serializeAs="String">
                <value>sda</value>
            </setting>
        </CellGameEdit.Settings1>
    </userSettings>
</configuration>